*Input*
*Data/Output/algorithmAssessment/Arabidopsis halleri*
*Data/Output/algorithmAssessment/Arath*
*Data/Output/algorithmAssessment/Brassica rapa*
*Data/Output/algorithmAssessment/Arabidopsis lyrata*